* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Cerapro;
  src: url("Fonts/CeraPRO-Medium.ttf");
}
@font-face {
  font-family: Ceraprolight;
  src: url("Fonts/CeraPRO-Light.ttf");
}
@font-face {
  font-family: Ceraproregular;
  src: url("Fonts/CeraPRO-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("Fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Sabon;
  src: url("Fonts/Sabon_Roman.ttf");
}

.home_header {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 80px;
  /* background-color: white; */
  display: flex;
  justify-content: center;
}
.navbar .menu {
  width: 76%;
  padding: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  /* background-color: red; */
}
.navbar .menu a {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: bolder;
  font-family: Ceraprolight;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.9rem;
}
.navbar .menu a:hover {
  color: #000000;
  text-shadow: 0px 4px 8px rgba(35, 15, 9, 0.53);
}

/*ANDREA + WEB DESIGNER*/

.portfolio-name {
  font-family: Cerapro;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 10rem;
}

.subtitle {
  font-family: Ceraprolight;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #2a2a2a;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 1rem;
}

/* BACKGROUND INCLINATO*/

.inclined {
  display: flex;
  justify-content: center;
}

.inclined:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 122%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-6deg);
  z-index: -1;
  background: #d5d5d5;
  /* FOR PARALLEX DEPTH background-image: url(Images/fog1.png);
  background-repeat: no-repeat; */
}

/* HERO SECTION */

.hero-wrap {
  max-width: 600px;
  margin: 50px auto;
  position: relative;
}

.hero {
  width: 100%;
  position: absolute;
  top: 22vh;
  /* top: -800px; */
}

/* ABOUT ME */

.about-me {
  max-width: 77%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px auto;
}

.section-title {
  width: 23rem;
}

.section-header::after {
  margin: 110px auto;
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.25rem;
  background-color: #2a2a2a;
}

.about-me .icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 11.25rem;
}

.icons img {
  width: 60px;
}

.icon-set {
  margin-right: 10px;
  display: flex;
  min-width: 130px;
  max-width: 130px;
  flex-direction: column;
  align-items: center;
  font-family: Cerapro;
  font-size: 1.25rem;
  color: #2a2a2a;
}

.about-me .icons .icon-set .icon-text {
  margin-top: 30px;
}
.download_cv {
  color: #2a2a2a;
  text-decoration: none;
}
.content-about {
  max-width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  font-family: Sabon;
  font-size: 1.5rem;
  line-height: 1.8rem;
  /* border: solid 1px blue; */
}

.about-me .content-about .text-about {
  flex-basis: 30%;
  color: #9c9c9c;
}

.about-me .content-about .darker {
  font-size: 1.75rem;
  line-height: 2rem;
  color: #2a2a2a;
}

/* PROJECTS */

/* BACKGROUND INCLINED 'PROJECTS' */

.projects {
  position: relative;
}

.projects:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -190px;
  right: 0;

  content: "";

  transform-origin: top left;
  transform: skewY(-6deg);
  z-index: -1;

  background: #d5d5d5;
}

.projects-inner {
  max-width: 77%;
  margin: 0 auto;
}

/* SECTION HEADER IN 'PROJECTS' */

.section-header-2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title-2 {
  width: 23rem;
  margin-top: 40px;
}

.section-header-2::after {
  margin: 110px auto;
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.25rem;
  background-color: #1e1e1e;
}

/* GRID IN 'PROJECTS' */

.projects .projects-grid {
  margin: 0 20px 150px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem 20rem;
  grid-row-gap: 1.25rem;
  grid-column-gap: 1.25rem;
}
.projects .projects-grid > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.projects .projects-grid a > span {
  font-family: Cerapro;
  font-weight: bold;
  font-size: 1.5em;
  display: none;
}

.projects .projects-grid .item-1 {
  background-image: url(Images/home/magis_grid.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

.projects .projects-grid .item-2 {
  background-image: url(Images/home/thefork_grid.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}

.projects .projects-grid .item-3 {
  background-image: url(Images/home/portfolio_grid.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  grid-column: 1 / span 2;
}
.projects .projects-grid .item-4 {
  background-image: url(Images/project4_grid.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  display: none;
}

.projects .projects-grid > a:hover {
  filter: grayscale(1%);
}

/* CONTACTS */

/* CONTAINER */
.contacts {
  max-width: 77%;
  height: 60vh;
  margin: 200px auto 100px;
}

/* CONTACTS HEADER, TITLE + __ */

.section-header-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header-3 .section-title-3 {
  margin-top: 40px;
}

.section-header-3::after {
  margin: 110px auto;
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.25rem;
  background-color: #2a2a2a;
}
.section-header-3 .section-title-3 {
  width: 23rem;
}

/* ICONS and email*/
.email {
  margin: 0 0 100px;
  display: flex;
  justify-content: center;
  font-family: Cerapro;
  font-size: 2em;
}

.contacts-icons-container {
  display: flex;
  margin: 0 auto;
  width: 20%;
  justify-content: space-around;
}
.contacts .contacts-icons-container .contacts-icon {
  max-width: 60px;
  height: 60px;
  /* margin: 0 50px; */
}

footer {
  max-width: 77%;
  margin: 100px auto 10px;
}
footer h5 {
  font-family: Cerapro;
  text-align: center;
}

/* PROJECT DESKTOP*/
/* HERO */
.body_projects {
  background-color: #f6f6f6;
}
.parallax_M {
  background-image: url(/Images/magis/magis_parallex1.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.parallax_F {
  background-image: url(/Images/thefork/parallex_fork.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.parallax_P {
  background-image: url(/Images/portfolio/prova.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.pject_main {
  margin-top: 100vh;
  width: 100%;
  background-color: #f6f6f6;
}
.pject_hero {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
  /* background-color: #f6f6f6; */
  /* border: 1px solid red; */
}

.pject_title {
  font-family: Cerapro;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 3.75rem;
  color: #292929;
}

.pject_subtitle {
  margin: 10px auto;
  font-family: Ceraproregular;
  font-weight: lighter;
  font-size: 26px;
  color: #292929;
}
/* .pject_hero_img {
  width: 55%; 
 } */

/* PROJECT INTRODUCTION GRID */
/* GRID WRAPPER */
.pject_team {
  color: #669a3a;
}
.pject_introduction_wrapper {
  margin: 0 auto 100px;
  max-width: 77%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #f6f6f6;
}
/* GRID CHILDREN */
.pject_list_border {
  list-style: circle;
}
.pject_child_grid1 {
  min-height: 324px;
  grid-column: 1;
  grid-row: 1;
}

.pject_child_grid2 {
  min-height: 324px;
  grid-column: 2;
  grid-row: 2;
}

.pject_child_grid3 {
  min-height: 324px;
  grid-column: 1;
  grid-row: 3;
}

.pject_child_grid4 {
  min-height: 324px;
  grid-column: 2;
  grid-row: 4;
}
/* GRID CHILD COMPONENT */
/* TITLE */
.pject_h3 {
  margin-bottom: 60px;
  font-family: Cerapro;
  font-size: 32px;
  color: #292929;
}
.pject_h3_right {
  text-align: right;
}
.pject_h3_portfolio {
  color: #6f7891;
}
.pject_h3_magis {
  color: #e62e19;
}
.pject_h3_thefork {
  color: #669a3a;
}

/* TEXT CONTENT */
.pject_text_content {
  font-family: Ceraproregular;
  /* font-weight: 100; */
  font-size: 1.5em;
  color: #292929;
}

/* FULLSCREEN PICTURE */
.pject_fullscreen_pic_container {
  width: 100%;
  height: auto;
}
.pject_fullscreen_pic {
  width: 100%;
  height: auto;
}

/* GRID TEXT AND PICTURES */
.pject_pictures_grid_container {
  margin: 200px auto 200px;
  width: 85%;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.pject_child_pictures_grid1 {
  max-width: 600px;
  grid-column: 1;
  grid-row: 1;
}
.pject_child_pictures_grid2 {
  grid-column: 2;
  grid-row: 1;
}
.pject_image_grid {
  width: 100%;
}

.pject_child_pictures_grid3 {
  margin-left: auto;
  max-width: 600px;
  grid-column: 2;
  grid-row: 2;
}
.pject_child_pictures_grid4 {
  grid-column: 1;
  grid-row: 2;
}
/*softwares*/
.pject_softwares {
  max-width: 100%;
  text-align: center;
}
.pject_softwares_icons {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.software {
  width: 60px;
  height: 60px;
}
.software:nth-child(odd) {
  margin-right: 20px;
}
.software_pic {
  width: 100%;
}
/* BUTTON */
.pject_next_wrapper {
  max-width: 85%;
  margin: 100px auto;
  display: flex;
  justify-content: flex-end;
}
.pject_btn_wrapper {
  width: 170px;
  height: 45px;
}
.pject_btn_wrapper > a {
  text-decoration: none;
}
.pject_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: Cerapro;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  background: #1e1e1e;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}

.pject_btn:hover {
  color: #404040;
  font-weight: 700;
  transform: scale(1.1);
  letter-spacing: 2px;
  background: none;
  box-shadow: 0px 5px 40px -10px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

/* IPAD */

@media screen and (max-width: 1024px) {
  /* ABOUT ME */
  .about-me {
    max-width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto 100px;
    /* border: 1px solid tomato; */
  }
  .content-about {
    max-width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Sabon;
    font-size: 1.5rem;
    line-height: 1.8rem;
    /* border: solid 1px blue; */
  }
  .about-me .content-about .text-about:nth-child(-n + 2) {
    margin-bottom: 50px;
  }

  /* PROJECTS GRID */
  .section-header-2 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects .projects-grid {
    margin: 0 20px 150px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .projects-grid > a {
    width: 100%;
    height: 320px;
    margin-bottom: 20px;
  }

  .projects .projects-grid > a:nth-child(-n + 3) {
    filter: grayscale(1%);
  }
  .email {
    margin: 0 0 100px;
    display: flex;
    justify-content: center;
    font-family: Cerapro;
    font-size: 1.6em;
  }
}

/* IPHONE8 */
@media screen and (max-width: 375px) {
  body {
    overflow-x: hidden;
  }

  /* HAMBURGER MENU */
  .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: white;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    right: 5%;
    top: 20%;
    z-index: 3;
  }

  .navbar .menu {
    /* position: fixed; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }
  .navbar .menu.open {
    clip-path: circle(900px at 90% -10%);
    -webkit-clip-path: circle(900px at 90% -10%);
  }

  /* DARK GREY PART */
  .hero {
    width: 100%;
    position: absolute;
    top: 15vh;
  }
  .portfolio-name {
    font-family: Cerapro;
    margin-top: 0;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 10px;
    text-align: center;
  }

  /* ABOUT ME */
  /* header */
  .section-title {
    width: 14rem;
  }

  .section-header::after {
    margin: 50px auto;
    content: "";
    display: block;
    width: 6.25rem;
    height: 0.25rem;
    background-color: #2a2a2a;
  }
  /* icons */

  .about-me {
    max-width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto 0;
    /* border: 1px solid tomato; */
  }
  .about-me .icons {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.25rem;
  }

  .about-me .icons .icon-set .icon-text {
    margin: 30px 0;
  }

  /* content */
  .content-about {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Sabon;
    font-size: 1.25rem;
    line-height: 1.8rem;
  }

  .about-me .content-about .text-about {
    width: 100%;
    color: #9c9c9c;
    flex-basis: 30%;
    margin-bottom: 50px;
  }

  .about-me .content-about .darker {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #2a2a2a;
    margin-bottom: 50px;
  }

  /* PROJECTS */
  .projects {
    /* max-width: 100%; */
    margin: 0 auto;
  }
  .projects:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -100px;
    right: 0;

    content: "";

    transform-origin: top left;
    transform: skewY(-6deg);
    z-index: -1;

    background: #d5d5d5;
  }

  .section-header-2 {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-title-2 {
    width: 14rem;
  }

  .section-header-2::after {
    margin: 50px auto;
    content: "";
    display: block;
    width: 6.25rem;
    height: 0.25rem;
    background-color: #fff;
  }

  .projects .projects-grid {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .projects .projects-grid > a {
    height: 200px;
    margin: 10px 0;
  }
  .projects .projects-grid > a:nth-child(1) {
    margin-top: 0;
  }
  .projects .projects-grid > a:nth-child(3) {
    margin-bottom: 10px;
  }
  .projects .projects-grid > a:nth-child(-n + 3) {
    filter: grayscale(1%);
  }

  .contacts {
    max-width: 77%;
    height: 60vh;
    margin: 100px auto 100px;
  }

  /* CONTACTS HEADER, TITLE + __ */

  .section-header-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-header-3::after {
    margin: 50px auto;
    content: "";
    display: block;
    width: 6.25rem;
    height: 0.25rem;
    background-color: #2a2a2a;
  }
  .section-header-3 .section-title-3 {
    width: 14rem;
  }
  /* ICONS */

  .email {
    margin: 0 0 50px;
    display: flex;
    justify-content: center;
    font-family: Cerapro;
    font-size: 1.2em;
  }
  .contacts-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts .contacts-icons-container .contacts-icon {
    max-width: 60px;
    height: 60px;
    margin: 30px 0;
  }
  footer {
    max-width: 77%;
    margin: 250px auto 10px;
  }
  footer h5 {
    font-family: Cerapro;
    text-align: center;
  }

  /*RESPONSIVE PROJECT*/
  /* INTODUCTION FLEX */
  .pject_introduction_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto 40px;
  }
  .pject_introduction_wrapper .pject_flex_child_intro {
    max-width: 100%;
    min-height: auto;
    margin-bottom: 80px;
  }
  .pject_introduction_wrapper .pject_flex_child_intro ul {
    padding-left: 20px;
  }
  .pject_text_content {
    font-size: 1em;
    line-height: 1.85rem;
    letter-spacing: 0.05em;
  }
  .pject_h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  /* FULL PICTURE */
  .pject_fullscreen_pic {
    margin: 0 auto 120px;
  }
  /*FLEX WITH TEXT AND PICTURES*/
  .pject_pictures_grid_container {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto 40px;
  }

  .pject_flex_child_pictures {
    max-width: 100%;
  }
  .pject_flex_child_pictures:nth-child(even) {
    margin: 40px auto 80px;
  }
  /* .pject_flex_child_pictures:nth-child(odd) {
    margin: 30px auto 0;
  } */
}
